#demo{
	margin-top: 30px;
}
#navbar-brand{
	margin-right: 800px;
}
.container{
	box-shadow: 10px 10px 8px #888888;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #demo{
  	margin-top: 100px;
  }
  #sign{
  	margin-left: 100px;
  }
}
#div1{
  border-radius: 2px solid #73AD21;
}

  
